body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.DDBMetadata,
.DDBHeader,
.DDBFooter
{
    background-color: white;
    padding: 5px 10px 5px 10px;
    border-style: dotted;
    border-width: thin;
    border-color: gray;
    text-align: right;
    min-height: 30px;
    margin: 0px 5px 0px 5px;
}

.DDBTabs
{
    background-color: white;
    margin: 0px 5px 0px 5px;
    padding: 0px 0px 0px 0px;
    border-style: dotted;
    border-width: thin;
    border-color: gray;
    text-align: right;
    min-height: 30px;
}

.DDBTab
{
    background-color: white;
    margin: 0px 5px 5px 5px;
    padding: 0px 0px 0px 0px;
    border-style: dashed;
    border-width: thin;
    border-color: green;
    text-align: right;
    min-height: 30px;
}

.DDBTabHeader
{
    background-color: white;
    margin: 0px 5px 5px 5px;
    padding: 0px 0px 0px 0px;
    border-style: dashed;
    border-width: thin;
    border-color: green;
    text-align: left;
    min-height: 30px;
}

.DDBTabFooter
{
    background-color: white;
    margin: 0px 5px 5px 5px;
    padding: 5px 10px 5px 10px;
    border-style: dashed;
    border-width: thin;
    border-color: green;
    text-align: right;
    min-height: 30px;
}

.DDBSections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    margin: 0px 5px 5px 5px;
    padding: 0px 0px 0px 0px;
    border-style: dashed;
    border-width: thin;
    border-color: green;
    text-align: left;
    min-height: 30px;
}

.DDBSection {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 2px 2px 2px 2px;
    padding: 5px 5px 5px 5px;
    border-style: dotted;
    border-width: thin;
    border-color: blue;
    color: black;
    min-height: 30px;
}


#gjs {
    height: 100%;
}

.Row1 {
    min-height: 30px !important;
}

.Row2 {
    min-height: 60px !important;
}
.Row3 {
    min-height: 90px !important;
}

.Row4 {
    min-height: 120px !important;
}

.Row5 {
    min-height: 150px !important;
}

.Row6 {
    min-height: 180px !important;
}

.Row7 {
    min-height: 210px !important;
}

.Row8 {
    min-height: 240px !important;
}

.Row9 {
    min-height: 270px !important;
}

.Row10 {
    min-height: 300px !important;
}

.Red {
    font-weight: bold !important;
    color: red !important;
}

.BackgroundRed {
    background-color: red !important;
}

.Disabled {
    text-decoration: line-through;
    color: gray;
}

.Visibled {
    text-decoration: line-through;
    color: gray !important;
}

.Bold {
    font-weight: bold;
}

.Title {
    font-size: x-large;
    line-height: 150% !important;
}

.LogicalName {
    color: red;
    font-weight: bold;
}

.DDBParameter,
.DDBJavaScript,
.DDBEvent,
.DDBPcf {
    background-color: honeydew;
    text-align: center;
    border-width: thin;
    margin: 5px 5px 5px 5px;
    line-height: 220%;
    border-style: dashed;
}

.DDBLabel {
    text-align: left;
    margin: 0px 0px 0px 0px;
    line-height: 250%;
}

.DDBButton {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
    border: 1px dashed black;
    cursor: pointer;
    display: inline-block;
    padding: 10px 10px 1px 10px;
    margin-left: 10px;
    vertical-align: middle;
    text-align: center;
    min-height: 40px;
}

.DDBControlMultiselectLookup,
.DDBControlUnknown,
.DDBControlUpload,
.DDBControlEntityOptionSet,
.DDBControlRichTextBox,
.DDBControlAdvFind,
.DDBControlAdvFindResult,
.DDBControlAdvFindAndResult,
.DDBControlTextbox,
.DDBControlDateTime,
.DDBControlNumber,
.DDBControlLookup,
.DDBControlRegarding,
.DDBControlIframe,
.DDBControlSpacer,
.DDBControlTextArea,
.DDBControlDropDown,
.DDBControlOptionSet,
.DDBControlTwoOptions,
.DDBControlSubgrid,
.DDBControlChart {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px 0px;
    margin-bottom: 3px;
}

.DDBControlLabel {
    padding: 8px 8px 8px 8px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    vertical-align: middle;
    background-color: white;
    border-color: #f4f4f4;
    min-height: 30px;
    color: black;
    flex: 28%;
}

.DDBControlControl {
    padding: 8px 8px 8px 8px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    vertical-align: middle;
    background-color: #f4f4f4;
    border-color: #f4f4f4;
    min-height: 30px;
    color: black;
    flex: 70%;
}

.DDBPreview {
    border: none !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.DDBPreview legend {
    display: none !important;
}

.VisibledTrait {
    display: none;
}

.PcfButton {
    margin-top: 10px;
}

.SmallDialog {
    width: 500px !important;
}

.ImportDialogError {
    color: red;
    margin-top: 10px;
}

.editor-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 100%;
}

.editor-canvas {
    flex-grow: 1;
}

.panel-left {
    flex-basis: 20%;
    position: relative;
    overflow-y: auto;
    background-color: #2c303b;
}
.trait-container {
    padding-top: 2px;
}
.trait {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: xx-large;
    color: white;
    border-style: solid;
    border-width: thin;
}
.gjs-cv-canvas {
    width: 75%;
}
.gjs-pn-commands {
    width: 75% !important;
}
.gjs-pn-views,
.gjs-pn-views-container {
    width: 25% !important;
}

.gjs-pn-options {
    right: 25% !important;
}

#gjs {
    height: 100% !important;
    overflow: hidden !important;
    width: 100% !important;
}

.ads {
    margin-top: 10px;
    margin-left: 10px;
}

.imgAds {
    width: 64px;
    height: 64px;
}

.apps {
    color: white;
    padding-bottom: 5px;
}

#DDBLowercase input[type='text'] {
    text-transform: lowercase;
}

#DDBReadonly input[type='text'] {
    pointer-events: none;
}

textarea {
    resize: none !important;
}

.gjs-mdl-dialog {
    max-width: 1200px !important;
}